*{
	margin:0px;
	padding: 0px;
}
#navbar{
	display: flex;
	align-items: center;
	background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4));

}

#logo img{
	filter:invert(100%);
	margin: 2px 10px;
	height: 40%;
	width: 40%;
}
#navbar ul{
	display: flex;
}
#navbar ul li{
	list-style: none;
}
#navbar ul li a{
	margin: 2px 7px;
	text-decoration: none;
	font-size: 20px;
	color: white;
}
#navbar ul li a:hover{
	background-color: black;
	padding: 5px;
	border-radius: 15px;

}
.home{
	color: white;
	display: flex;
	height: 300px;
	flex-direction:  column;
	align-items: center;
	background-image:linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2));
	font-size: 1.3rem;
}
.home h1{
	margin-top: 2rem;
}
#para{
	margin-bottom: 1rem;
}
#btn{
	margin: 2rem;
	height:2rem;
	width: 5rem;
	border: 2px solid white;
	border-radius: 1.2rem;
	background-image: url("bg2.jpg");
	color: white;
	font-size: 1.2rem;
	cursor: pointer;
	font-weight: 10px;
}
/*button:hover{
	background-color: blue;
}*/
.home1{
	background-image:linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("bg16.jpg");
	background-size: cover;
	background-position: center;
}

/*middle*/
.midhead{
	text-align: center;
	font-size: 1.4rem;
	margin: 1rem;
}
.mid{
	display:flex;	
	align-items: center;
	justify-content: space-around;

}
.block{
	height: 20rem;
	width: 20rem;
	border: 2px solid grey;
	border-radius: 2rem;
	background-image: linear-gradient(rgba(0,0,200,0.2),rgba(0,0,200,0.2)), url("bg14.jpg");
	background-position: center;
	background-size: cover;
	text-align: center;
	padding: 0.5rem;
	color: white;
	/*background-color: black;
	opacity: 0.4;*/
}
.block p{
	margin-top: 2rem;
	font-size: 20px;
}
.btn1{
	margin: 1.7rem;
	height:2rem;
	width: 5rem;
	border: 2px solid white;
	border-radius: 1.2rem;
	background-image: url("bg8.jpg");
	color: white;
	font-size: 1.2rem;
	cursor: pointer;
	font-weight: 10px;
}
/*sponsers*/
.sponser{
	height: 20rem;
	width:100%;
	background-image: url("bg6.jpg");
	background-position: center;
	background-size: cover;
	opacity: 0.6;
	margin-top: 2rem;
	
}
.sponser h1{
	text-align: center;
}
footer{
	background-color: black;
	text-align: center;
	color: white;
}